@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "montserrat", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.apply-filter {
  filter: invert(53%) sepia(91%) saturate(4721%) hue-rotate(328deg)
    brightness(106%) contrast(100%);
}

.logo {
  font-family: "Anton", sans-serif;
}

.logo span {
  width: fit-content;
  color: #ff4a60;
  /* font-size: 1.2rem; */
}
.column {
  flex-direction: column-reverse;
}

.nav-desktop {
  font-family: "montserrat", sans-serif;
}

/* PRICE SLIDER */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 80%; /* Full-width */
  height: 8px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 22px; /* Set a specific slider handle width */
  height: 22px;
  border-radius: 50%; /* Slider handle height */
  background: #6c69f9; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #6c69f9;
  border-radius: 50%; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* DROPDOWN MENU */
.menu {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 200px;
}

.menu > li > a {
  background: #eaeaea;
  color: #9b9b9b;
  display: block;
  width: 18rem;
  border-radius: 1em;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}

.menu ul {
  background: #ddd;
  height: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  top: 35px;
  width: 100%;
}

.menu li:hover ul {
  height: fit-content;
  opacity: 1;
  transform: translateY(0);
}

.menu ul a {
  color: #000;
  display: block;
  padding: 5px 20px;
}
.display-popup {
  display: none;
}

@keyframes slide-down {
  from {
    /* display: none; */
    top: 2.5rem;
  }
  to {
    top: 3rem;
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    top: 3rem;
  }
  to {
    top: 2.5rem;
    opacity: 0;
    visibility: hidden;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
